@import './macula-solid';

#app {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: opacity 500ms linear;

    &.fade-out {
        opacity: 0;
    }
}
h1 {
    font-family: "Macula Solid", "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-weight: 400;
    margin: 0;
}
* {
    box-sizing: border-box;
}