@import '../../../styles/variables';

.main-layout {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
}
.main-content {
    position: relative;
    z-index: 1;
    padding: $base-unit;
    vertical-align: top;
    width: 100%;

    a {
        word-wrap: break-word;
    }

    @media (min-width: $tablet-min-width) {
        padding: $base-unit * 2;
        width: $width-medium--main-content;
    }
    @media (min-width: $tablet-max-width + 1px) {
        width: $width-medium--main-content;
    }
}