@import '../../../styles/variables';

.main-layout {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
}
.main-layout-bg {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-image: linear-gradient(0deg, hsla(300, 100%, 50%, 0.5), hsla(0, 0%, 0%, 0));
    animation-name: hue-rotate;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.main-content {
    position: relative;
    z-index: 1;
    padding: $base-unit;
    vertical-align: top;
    width: 100%;

    a {
        word-wrap: break-word;
    }

    @media (min-width: $tablet-min-width) {
        padding: $base-unit * 2;
        width: $width-medium--main-content;
    }
    @media (min-width: $tablet-max-width + 1px) {
        width: $width-medium--main-content;
    }
}

@keyframes hue-rotate {
    0% {
        filter: hue-rotate(0deg);
    }
    25% {
        filter: hue-rotate(60deg);
    }
    50% {
        filter: hue-rotate(0deg);
    }
    75% {
        filter: hue-rotate(-60deg);
    }
    100% {
        filter: hue-rotate(0deg);
    }
}